nav {
    background-color: yellow;
    height: 50px;
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
}

img {
    width: 40px;
    height: 30px;
    vertical-align: -10px;
}

.menuItem {
    display: inline-block;
    margin-left: 20px;
    color: blue;
    text-decoration: underline;
}